@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #36404a;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #262e35;
    /* border-radius: 100vh;
    border: 3px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  .wordBreak {
    word-break: break-word;
  }
}

@layer components {
  .btn {
    @apply bg-an-button px-4 py-2 rounded-lg;
  }

  .inputs {
    @apply p-2 px-4 bg-an-light rounded-lg focus:outline-none;
  }

  .brbr {
    @apply border border-solid ease-in-out duration-500;
  }

  .neutral {
    @apply border-an-button;
  }

  .valid {
    @apply border-[green];
  }

  .invalid {
    @apply border-[red];
  }

  .h100 {
    height: calc(var(--vh, 1vh) * 100);
  }

  .h91 {
    height: calc(var(--vh, 1vh) * 91.5);
  }

  .h91s {
    height: calc(var(--vh, 1vh) * 91);
  }

  .flex9 {
    flex: 0 0 calc(var(--vh, 1vh) * 9.108);
  }

  .top8 {
    top: calc(var(--vh, 1vh) * 8.5);
  }

  .flex728 {
    flex: 0 0 calc(var(--vh, 1vh) * 72.864);
  }

  .flex9108 {
    flex: 0 0 calc(var(--vh, 1vh) * 9.108);
  }

  .h8 {
    height: calc(var(--vh, 1vh) * 8.5);
  }
}
